{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gdzie Teraz{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'GdzieTeraz/css/my_style.css' %}">
    {% load crispy_forms_tags %}
</head>
<body>
<div class="header">
    {% block header %}
        <h1 class="header_main"><a href="/">Gdzie Teraz?!</a></h1>
        {% if user.is_authenticated %}
            <a href="/logout/">
                <button class="btn btn-info bar-button">Wyloguj</button>
            </a>
            {% if user.is_superuser %}
                <a href="/generate_token/">
                    <button class="btn btn-info bar-button">Token</button>
                </a>
            {% else %}
                <a href="/profile/">
                    <button class="btn btn-info bar-button">Profil</button>
                </a>
            {% endif %}
        {% else %}
            <p>Znajdź wolny stolik w Twojej okolicy!</p>
        {% endif %}
    {% endblock %}
</div>

<nav class="navbar navbar-expand-sm">
    {% block navbar %}
        <form class="form-inline form-navbar" method="post">
            {% csrf_token %}
            <label class="bar-label mr-sm-2">Kuchnia:</label>
            {{ form.kitchen }}
            {{ form.name }}
            <label class="bar-label mr-sm-2">W promieniu:</label>
            {{ form.distance }}
            {{ form.address }}
            <button class="btn btn-info" type="submit">Szukaj</button>
        </form>
    {% endblock %}
</nav>

{% block content %}
    <div class="details col-12 col-md-8">
        {% for restaurant in restaurants %}
            <div class="rest-name" data-info="{{ restaurant.0 }}">
                <strong>{{ restaurant.1 }}</strong>
                <div style="display: none" class="hidden_div"></div>
            </div>
        {% empty %}
            <div>{{ empty }}</div>
        {% endfor %}
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="{% static "GdzieTeraz/js/my_app.js" %}"></script>
</body>
</html>