{% extends 'GdzieTeraz/base.html' %}
{% block navbar %}
    <div class='bar-header'>{{ restaurant.name }}</div>
{% endblock %}
{% block content %}
    <div class="details col-12 col-md-8">
        <div>Login: {{ restaurant.user.username }}</div>
        <div>Email: {{ restaurant.user.email }}</div>
        <div>Adres: {{ restaurant.address }}</div>
        <div>Miasto: {{ restaurant.get_city_display }}</div>
        <div>Telefon: {{ restaurant.phone }}</div>
        <div>Kuchnia: {{ restaurant.get_kitchen_display }}</div>
        <div><a href="/tables/{{ restaurant.pk }}/" class="btn btn-info">Zarządzaj stolikami</a></div>
        <div><a href="/add_tables/{{ restaurant.pk }}/" class="btn btn-info">Dodaj stoliki</a></div>

        {#        <div><a href="/" class="btn btn-info">Edytuj dane</a></div>#}
    </div>
    ​
{% endblock %}